* text=auto

*.cpp text diff=cpp
*.h text diff=cpp
*.in text
*.txt text
*.pem text
*.css text diff=css
*.md text
*.sh text
*.py text
*.conf text
*.README text
*.js text

*.png binary
*.ttf binary
*.icns binary
*.ico binary
