Source: clementine
Section: sound
Priority: optional
Maintainer: David Sansome <me@davidsansome.com>
Build-Depends: debhelper (>= 7),
               liblastfm-dev,
               libtag1-dev,
               libboost1.38-dev |
               libboost1.40-dev |
               libboost1.42-dev |
               libboost-dev,
               libboost-serialization1.38-dev |
               libboost-serialization1.40-dev |
               libboost-serialization1.42-dev |
               libboost-serialization-dev,
               libcdio-cdda1,
               libchromaprint-dev,
               libcrypto++-dev,
               libglew1.5-dev |
               libglew-dev,
               libqt4-dev,
               qt4-dev-tools,
               libqt4-opengl-dev,
               cmake,
               libgstreamer1.0-dev,
               libgstreamer-plugins-base1.0-dev,
               libgpod-dev,
               libplist-dev,
               libusbmuxd-dev,
               libmtp-dev,
               libqjson-dev,
               protobuf-compiler,
               libprotobuf-dev,
               libfftw3-dev,
               libsparsehash-dev,
               libsqlite3-dev,
               libpulse-dev,
               libmygpo-qt-dev (>= 1.0.7)
Standards-Version: 3.8.1
Homepage: http://www.clementine-player.org/

Package: clementine
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libsqlite3-0,
         gstreamer1.0-plugins-base,
         gstreamer1.0-plugins-good,
         gstreamer1.0-plugins-ugly,
         gstreamer1.0-pulseaudio,
         libprojectm-data | projectm-data
Description: Modern music player and library organiser inspired by Amarok 1.4
 Clementine focuses on a fast and easy-to-use interface for searching and
 playing your music.
 .
 Features include:
   * Search and play your local music library
   * Listen to internet radio from Last.fm, SomaFM, IntergalacticFM, Magnatune,
     Jamendo and Icecast
   * Create smart playlists and dynamic playlists
   * Tabbed playlists, import and export M3U, XSPF, PLS, ASX and CUE
   * Visualisations from projectM
   * Lyrics and artist biographies and photos
   * Transcode music into MP3, Ogg Vorbis, Ogg Speex, FLAC or AAC
   * Edit tags on MP3 and OGG files, organise your music
   * Download missing album cover art from Last.fm
   * Cross-platform - works on Windows, Mac OS X and Linux
   * Native desktop notifications on Linux (libnotify) and Mac OS X (Growl)
   * Remote control using a Wii Remote, MPRIS or the command-line
   * Copy music to your iPod, iPhone, MTP or mass-storage USB player
   * Queue manager
