#search, QToolButton {
  color: white;
  font-weight: bold;
  font-size: 7.5pt;
}

#search:disabled {
  color: rgba(255, 255, 255, 75%);
}

#search {
  border: 1px groove rgba(128, 128, 128, 60%);
  border-radius: 4px 4px;
  background-color: rgba(0, 0, 0, 20%)
}

QToolButton {
  font-weight: normal;
  font-weight: bold;
  color: rgba(255, 255, 255, 50%);
}

QToolButton:hover {
  background-color: black;
  border: 2px solid rgba(255, 255, 255, 20%);
  border-radius: 3px;
}

QToolButton:pressed {
  border: 2px solid rgba(255, 255, 255, 20%);
  background-color: rgba(255, 255, 255, 10%);
}
