#playlist {
  background-color: white;
  background-image: url(:logo.png);
  background-attachment: fixed;
  background-position: bottom right;
  background-repeat: none;
  background-clip: content;
}
