QPushButton {
  border: 1px solid palette(dark);
  border-radius: 4px;
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 palette(button), stop: 1 palette(dark));
  padding: 1px 5px 1px 5px;
  margin: 0px;
  min-width: 60px;
  min-height: 18px;
}

QPushButton:hover {
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 palette(light), stop: 1 palette(button));
}

QPushButton:checked {
  border: 1px solid palette(text);
  color: palette(highlighted-text);
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 palette(highlight), stop: 1 %darkhighlight);
}

QPushButton:checked:disabled {
  border: 1px solid palette(text);
  color: palette(text);
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 palette(button), stop: 1 palette(dark));
}